<!-- cursos.html -->

{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Cursos Asignados</h1>
    
    <h2>Profesor: {{ profesor.nombre }}</h2>

    <ul>
        {% for curso in cursos %}
            <li>
                <strong>{{ curso.nombre }}</strong><br>
                Descripción: {{ curso.descripcion }}<br>
                <a href="{% url 'tareas_curso' curso.id %}" class="btn btn-primary">Tareas de curso</a>
            </li>
        {% empty %}
            <li>No hay cursos asignados.</li>
        {% endfor %}
    </ul>
{% endblock %}