<!-- tarea.html -->

{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Tareas del curso "{{ curso.nombre }}"</h1>
    
    {% for tarea in tareas %}
        <h2>Tarea: {{ tarea.tema }}</h2>
        <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
        {% if tarea.rubrica %}
            <p><strong>Rúbrica:</strong> <a href="{{ tarea.rubrica.url }}" download>Descargar Rúbrica</a></p>
        {% endif %}
        {% if tarea.archivo %}
            <p><strong>Archivo de tarea:</strong> <a href="{{ tarea.archivo.url }}" download>Descargar Archivo</a></p>
        {% endif %}
        
        <h3>Evaluaciones:</h3>
        <ul>
            {% for evaluacion in evaluaciones %}
                {% if evaluacion.id_tarea == tarea %}
                    <li>
                        Alumno: {{ evaluacion.id_alumno.nombre }}<br>
                        Archivo de evaluación: <a href="{{ evaluacion.file.url }}" download>Descargar evaluación</a><br>
                        Subido el: {{ evaluacion.uploaded_at }}
                    </li>
                {% endif %}
            {% empty %}
                <li>No hay evaluaciones para esta tarea.</li>
            {% endfor %}
        </ul>

        <!-- Botones de editar y eliminar -->
        <a href="{% url 'editar_tarea' tarea.id %}" class="btn btn-primary">Editar Tarea</a>
        <form action="{% url 'eliminar_tarea' tarea.id %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta tarea?');">Eliminar Tarea</button>
        </form>

        <!-- Botón de evaluar -->
        <a href="{% url 'evaluar_tarea' tarea.id %}" class="btn btn-success">Evaluar Tarea</a>
    {% empty %}
        <p>No hay tareas para este curso.</p>
    {% endfor %}

    <!-- Botón para crear nueva tarea -->
    <a href="{% url 'crear_tarea' curso.id %}" class="btn btn-success">Crear Nueva Tarea</a>
{% endblock %}
