<!-- visualizar_evaluaciones.html -->

{% extends 'layouts/base_p.html' %}

{% block content %}
    <h1 class="titulo-cursos">Evaluaciones para la tarea "{{ tarea.tema }}"</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Alumno</th>
                <th>Subido el</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for evaluacion in evaluaciones %}
                <tr>
                    <td>{{ evaluacion.id_alumno.nombre }}</td>
                    <td>{{ evaluacion.uploaded_at }}</td>
                    <td>
                        <a href="{{ evaluacion.file.url }}" download class="btn btn-primary">Descargar evaluación</a>
                        <a href="{% url 'evaluar_tarea' tarea.id %}" class="btn btn-primary">Evaluar Tarea</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No hay evaluaciones para esta tarea.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'tareas_curso' tarea.id_curso.id %}" class="btn btn-yellow">Regresar</a>
{% endblock %}
