/* Estilos para el contenedor principal */
.container {
    display: flex;
}

/* Estilos para la barra de navegación */
.navbar {
    width: 200px; /* Puedes ajustar este valor según tus necesidades */
    background-color: #f4f4f4; /* Color de fondo para la barra de navegación */
    padding: 20px;
    height: 100vh; /* Para que ocupe toda la altura de la pantalla */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Sombra opcional para darle un mejor aspecto */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar a {
    text-decoration: none;
    color: #333; /* Color del texto */
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #ddd; /* Color de fondo al pasar el mouse */
}

/* Estilos para el contenido principal */
.content {
    flex-grow: 1;
    padding: 20px;
}
