<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ÁREA DE DESCARGA</title>
    <!-- Carga la etiqueta static -->
    {% load static %}
    <!-- Enlaza el archivo CSS externo -->
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <h1>ÁREA DE DESCARGA</h1>
    {% for tarea in tareas %}
        <div class="task-container">
            <div class="task-content">
                <h2>CURSO: {{ tarea.id_curso.nombre }}</h2>
                <h3>{{ tarea.id_tarea.tema }}</h3>  <!-- Mostrar el tema de la tarea -->
            </div>
            <div class="container">
                {% if tarea.file %}
                    <!-- Botón de descarga junto al nombre de la tarea -->
                    <a href="{{ tarea.file.url }}" download>
                        <button class="download-button">Descargar</button>
                    </a>
                {% else %}
                    <p>Archivo no disponible</p>
                {% endif %}
                <!-- Botón para eliminar la evaluación -->
                <form method="post" action="{% url 'eliminar_evaluacion' tarea.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">Eliminar</button>
                </form>
            </div>
        </div>
    {% endfor %}
</body>
</html>
