{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvaEduca - Profesores</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/cursos.css' %}">
    <link rel="stylesheet" href="{% static 'styles/tarea.css' %}">
    <link rel="stylesheet" href="{% static 'styles/crear_tarea.css' %}">
    <link rel="stylesheet" href="{% static 'styles/resetear.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/logo.png' %}" alt="EvaEduca Logo">
    </div>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li>
                    <a href="{% url 'profesor' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'cursos' %}">Cursos</a>
                </li>
                <li>
                    <a href="{% url 'lista_reclamos' %}">Reclamos</a>
                </li>
                <li>
                    <a href="{% url 'reset' %}">Ajustes</a>
                </li>
            </ul>
        </nav>
        
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>