{% extends 'layouts/base_p.html' %}

{% block content %}
    <h1 class="titulo-crear-tarea">Editar Tarea para el Curso "{{ tarea.id_curso.nombre }}"</h1>
    
    <div class="container2">
        <form method="POST" enctype="multipart/form-data" class="crear-tarea-form">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_tema">Asunto</label>
                <hr> <!-- Línea horizontal -->
                {{ form.tema }}
            </div>
            
            <div class="form-group">
                <label for="id_descripcion">Descripción</label>
                <hr> <!-- Línea horizontal -->
                {{ form.descripcion }}
            </div>
            
            <div class="form-group">
                <label for="id_rubrica">Rúbrica (.docx)</label>
                <hr> <!-- Línea horizontal -->
                {{ form.rubrica }}
                {% if form.rubrica.errors %}
                    <small class="text-danger">{{ form.rubrica.errors }}</small>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="id_archivo">Archivo (.docx)</label>
                <hr> <!-- Línea horizontal -->
                {{ form.archivo }}
                {% if form.archivo.errors %}
                    <small class="text-danger">{{ form.archivo.errors }}</small>
                {% endif %}
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-green">Guardar cambios</button>
                <a href="{% url 'tareas_curso' tarea.id_curso.id %}" class="btn btn-red">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}
