{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Alumnos</h1>
    <a href="{% url 'alumno_create' %}" class="btn btn-primary">Nuevo Alumno</a>
    <ul>
        {% for alumno in alumnos %}
            <li>
                <strong>{{ alumno.nombre }}</strong><br>
                Correo: {{ alumno.correo }}<br>
                Usuario: {{ alumno.usuario }}<br>
                <a href="{% url 'alumno_update' alumno.pk %}" class="btn btn-primary">Editar</a>
                <form action="{% url 'alumno_delete' alumno.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este alumno?');">Eliminar</button>
                </form>
            </li>
        {% empty %}
            <li>No hay alumnos disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}
