{% extends 'layouts/base.html' %}

{% block content %}
    <h1 class="titulo-cursos">Cursos</h1>
    <a href="{% url 'curso_create' %}" class="btn btn-success">Agregar Curso</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.id }}</td>
                    <td>{{ curso.nombre }}</td>
                    <td>{{ curso.descripcion }}</td>
                    <td>
                        <a href="{% url 'curso_update' curso.pk %}" class="btn btn-primary">Editar</a>
                        <form action="{% url 'curso_delete' curso.pk %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este curso?');">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay cursos disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
